.catalog__view-type {
    float: left;
    margin-right: 30px;
}
.catalog__view-sort,
.catalog__view-sort-select {
    float: right;
}
.catalog__view-sort label{
    line-height: 28px;
    margin-right: 10px;
}
.catalog .catalog__view-sort-select .jq-selectbox{
    margin: 0;
    float: right;
    width: 400px;
}